*{
font-family: poppins;
}

.titulo{

  font-family: poppins;
  font-weight: 400;
  color: #6B79FF;
  font-size: 1.5rem;

}

.precio{
  padding-top: 30px;
  padding-bottom: 10px;
}


  
  mat-form-field {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }
 
  .btn {
    border-radius: 10px;
    background: #7885FC;
    border: none;
    width: 550px;
    height: 50px;
    color: white;
    margin-top: 20px;
    margin-bottom: 80px;
    
}

.formulario{
  display: flex;
  padding-top: 50px;
  width: 40%;

}