<div *ngIf="user" class="container">

  <div class="card">
    <img class="circle" src="{{ user.photo }}"/>
    <h2>Anfitrión </h2>
    <p>{{ user.fullName }}</p>
  </div>

  <div class="tarjeta">
    <p> Sobre mí: {{ user.bio }}</p>
  </div>

  <div class="tarjeta">
    <p>Cuidad: {{ user.city }}</p>
    <p>Calle: {{user.street}}</p>
    <p>Código postal: {{user.code}}</p>
  </div>

  <div class="tarjeta">
    <p>Email: {{ user.email }}</p>
    <p>Phone: {{user.phone}}</p>
    <p>Idioma: {{user.idioma}}</p>
  </div>

</div>



<!--
<mat-grid-list cols="3" rowHeight="200px" *ngIf="user">

  
    <mat-grid-tile rowspan="2">
      <div class="tarjeta">
        <h2>Anfitrión </h2>
        <img  class="circle" src="{{ user.photo }}" style="max-width: 150px;" />
        <p>{{ user.fullName }}</p>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile rowspan="2">
      <div>
        <h2>{{ user.fullName }}</h2>
        <p>Origen: {{ user.city }}</p>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile rowspan="2">
      <div>
        <h2>Biografía</h2>
        <p>{{ user.bio }}</p>
      </div>
    </mat-grid-tile>
  
    <mat-grid-tile colspan="3" rowspan="1" *ngIf="casas.length > 0">
      <mat-list>
        <mat-list-item *ngFor="let casa of casas">
          <img matListItemAvatar src="{{casa.photo}}" alt="{{casa.title}}">
          <div matListItemTitle>
            <a [routerLink]="['/casas', casa.id]">
              {{casa.title}}
            </a>
          </div>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>

  </mat-grid-list>
  -->