
<mat-toolbar id="contenedor" class="navbar">
  
  <div id="logo">
    <a routerLink="/" title="Inicio" class="enlace logo-container">
      <img src="/assets/icon/logo.svg" class="logo" alt="logo">
    </a>
  </div>
  
  
  <!-- <span class="example-spacer"></span> -->
  
  <div id="botones" class="button-container">
    <button class="btn2">Iniciar sesión</button>
    <button class="btn2">Registrarse</button>
  </div>
</mat-toolbar>
 
   <!--Enlace al listado
      <button mat-menu-item><a routerLink="/casa-list">Listado</a></button>
    -->


    

 
