
<nav>

<mat-toolbar id="contenedor" class="navbar">
  
  <div id="logo">
    <a routerLink="/" title="Inicio" class="enlace logo-container">
      <img src="/assets/icon/logo.svg" class="logo" alt="logo">
    </a>
  </div>
  
  
  <!-- <span class="example-spacer"></span> -->

  <button mat-button *ngIf="isLoggedIn" routerLink="/reservas">
    <mat-icon>shopping_cart</mat-icon>
    Reservas
  </button>

  <button mat-button [matMenuTriggerFor]="menuCasas">
    <mat-icon>menu_casa</mat-icon>
    Casas
  </button>
  <mat-menu #menuCasas="matMenu">
    <button mat-menu-item routerLink="/casas">Listado de casas</button>
    <button mat-menu-item routerLink="/casas/new" *ngIf="isAdmin">Crear nueva casa</button>
  </mat-menu>  

  <button mat-button *ngIf="!isLoggedIn" routerLink="/auth/login">
    <mat-icon>login</mat-icon>
    Iniciar sesión
  </button>


  <button mat-button *ngIf="!isLoggedIn" routerLink="/auth/register">
    <mat-icon>person_add</mat-icon>
    Crear cuenta
  </button>

  <button mat-button *ngIf="isLoggedIn" routerLink="/users/avatar">
    <mat-icon>photo_camera</mat-icon>
    Mi avatar
  </button>

  <button mat-button *ngIf="isLoggedIn" routerLink="/users/profile">
    <mat-icon>account_circle</mat-icon>
    Mi perfil
  </button>

  <button mat-button *ngIf="isLoggedIn" (click)="authService.logout()">
    <mat-icon>logout</mat-icon>
    Cerrar sesión
  </button>

</mat-toolbar>


</nav>

 
   


    

 
