<footer>
    <mat-grid-list cols="3" rowHeight="125px">
      
      <mat-grid-tile rowspan="2">
        <nav class="map">
          <a routerLink="/">Empresa</a> <br>
          <a routerLink="/">Opiniones</a> <br>
          <a routerLink="/">Newsroom</a> <br>
          <a routerLink="/">Privacidad</a>
        </nav>
      </mat-grid-tile>
  
      
  
    
  
      <!-- fila que ocupa 3 columnas -->
      <mat-grid-tile colspan="3" rowspan="1">
        <p>©Todos los derechos reservados- feellike - 2023</p>
      </mat-grid-tile>
  
    </mat-grid-list>
  </footer>
  