


<!------frase e imagen------->
<div class="fondo">
  <div>
    <p class="frase">Crea tu propio <b>hogar</b> donde quiera que vayas</p>
  </div>
  <div>
    <img class="casas" src="./assets/icon/fondo.png" [alt]="" />
  </div>
</div>


<!--Boton de agregar casa-->
<div class="btn_add" *ngIf="isOwner">
   <button mat-raised-button color="primary" routerLink="/casas/new">
    Agregar casa
  </button> 
</div>



<!-----  category ----->
<div class="category">
  <div class="nube">
      <a class="contenedor" *ngFor="let category of categories" [routerLink]="['/casas/category', category.id]">
        <img class="icono_cat" [src]="category.icono"/>
        <p class="name">{{category.name}}</p>
      </a>
  </div>
</div>



<!-----------  conteo de las casas ------------>

<div class="conteo" *ngIf="casas.length > 0">
 <p> Hay {{casas.length}} casas en total.</p>
</div>


<!-----------  description de categorias ------------>
<div class="descategory" *ngIf="category">
  <p >{{category.description}}</p>
</div>


<!------- card  ------>
<div class="container" >
  <div class="card" *ngFor=" let casa of casas" [routerLink]="['/casas', casa.id]"> 
    <!--<div class="card" *ngFor=" let casa of casas">-->
     <img *ngIf="casa.images && casa.images.length > 0" [src]="'http://localhost:3000/uploads/' + casa.images[0]"  class="card__imagen">
     <p class="city"> {{casa.city}}</p>
    <p>Precio {{casa.price}}€</p>
    <p>{{casa.title}}</p>
    
    <div>


    <div>
      <button  [routerLink]="['/casas', casa.id]">
        <img class="icono" src="assets/icon/ver.png" alt="" style="max-width: 20px;">
        ver
      </button>

     <button  [routerLink]="['/casas', casa.id, 'edit']" *ngIf="isOwner">
        <img class="icono" src="assets/icon/editar.png" alt="" style="max-width: 20px;">
        Editar
      </button>

      <button (click)="deleteCasa(casa)" *ngIf="isOwner">
        <img class="icono" src="assets/icon/borrar.png" alt="" style="max-width: 20px;">
        Eliminar
      </button>
    </div>
    
  </div>
</div>




  