


<!------frase e imagen------->
<div class="fondo">
  <div>
    <p class="frase">Crea tu propio <b>hogar</b> donde quiera que vayas</p>
  </div>
  <div>
    <img class="casas" src="./assets/icon/fondo.png" [alt]="" />
  </div>
</div>


<!--Boton de agregar casa-->
<div class="btn_add">
   <button mat-raised-button color="primary" routerLink="/casas/new">
    Agregar casa
  </button> 
  </div>



<!-----  category ----->
<div class="category">
  <div class="nube">
      <a class="contenedor" *ngFor="let category of categories" [routerLink]="['/casas/category', category.id]">
        <img class="icono_cat" [src]="category.icono" [alt]="category.name" />
        <p class="name">{{category.name}}</p>
      </a>
  </div>
</div>



<!-----------  conteo de las casas ------------>

<div class="conteo" *ngIf="casas.length > 0">
 <p> Hay {{casas.length}} casas en total.</p>
</div>


<!-----------  description de categorias ------------>
<div class="descategory" *ngIf="category">
<p >{{category.description}}</p>
</div>


<!------- card  ------>
<div class="container" >
  <div class="card" *ngFor=" let casa of casas">
    <img [routerLink]="['/casas', casa.id]"  class="card__imagen" [src]="casa.photo">
    <p>{{casa.city}}</p>
    <p>Precio {{casa.price}}€</p>

    <div>
     <button  [routerLink]="['/casas', casa.id]">
      <img class="icono" src="assets/icon/ver.png" alt="" style="max-width: 15px;">
      ver
     </button>

     <button  [routerLink]="['/casas', casa.id, 'edit']" *ngIf="isAdmin">
      <img class="icono" src="assets/icon/editar.png" alt="" style="max-width: 15px;">
      Editar
      </button>

      <button (click)="deleteCasa(casa)" *ngIf="isAdmin">
        <img class="icono" src="assets/icon/borrar.png" alt="" style="max-width: 15px;">
        Eliminar
      </button>
    </div>
    
  </div>
</div>




  