<div class="content">
<div class="contenedor-cajas" *ngIf="casa && casa.images">
    <div class="titulo">
      <p>Imágenes actuales</p>
    </div>
    <div *ngFor="let image of casa.images" class="caja">
      <img class="imagen" [src]="'http://localhost:3000/uploads/' + image"
        style="max-width: 200px;"
        alt="casa image"/>
    </div>
  </div>
  
  <div class="contenedor-cajas" *ngIf="imagePreviews && imagePreviews.length > 0">
    <span class="titulo">Nuevas &nbsp;<b>imágenes</b></span>
    <div *ngFor="let imagePreview of imagePreviews" class="caja">
      <img class="imagen" [src]="imagePreview" alt="book preview"/>
    </div>
  </div>
  
  <div>
  <label for="fileInput" class="custom-file-upload">Seleccionar archivos</label>
  <input  type="file" id="fileInput" (change)="onFileSelected($event)" multiple/>
  </div>
  <br>
  <div>
    <button class="btn" (click)="save()">Enviar</button>
  </div>
</div>