<form [formGroup]="userForm" (ngSubmit)="save()"> 

    <label for="fullName">Nombre: <span>*</span></label>
    <input type="text" id="fullName" formControlName="fullName">

    <label for="startDate">Fecha de inicio</label>
    <input type="date" id="startDate" formControlName="startDate">
    <br>
    
    <label for="endDate">Fecha final</label>
    <input type="date" id="endDate" formControlName="endDate">
    <br>

    <label for="people">Cantidad de personas:</label>
    <input type="number" id="people" formControlName="people" >

    <button type="submit" [disabled]="userForm.invalid">Reservar</button>

</form>
