.content {
  display: flex;;
  justify-content: space-around;
  align-items: baseline;
  margin: 5px;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px auto;

}

.container {
  max-width: 18rem;
}
.card {
  height: 400px;
  margin-bottom: 10px;
}


