<main class="content">
<div class="container" *ngFor="let casa of casas">
  <div class="card" style="width: 18rem;">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img [src]="casa.photo" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img [src]="" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="card-body">
      <h5 class="card-title">{{casa.categories}}</h5>
      <p class="card-text">{{casa.description}}</p>
      <a href="#" class="btn btn-outline-primary">Ver Detalles</a>
    </div>
  </div>
</div>
</main>
