 * {
     box-sizing: border-box;
     font-family: poppins;
 }

 .gallery-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
     grid-auto-rows: 300px;
     padding: 20px;
     grid-gap: 10px;
     grid-auto-flow: dense;
 }


 .boton {
    padding-left: 20px;
 }

 h1{
    padding-left: 20px;
    color:#6B79FF
 }

 .gallery__img {
     width: 100%;
     height: 100%;
     object-fit: cover;

 }


 .gallery__item:nth-child(2) {
     grid-column-start: span 2;
 }

 .gallery__item:nth-child(3) {
     grid-row-start: span 2;
 }

 .gallery__item:nth-child(4) {
     grid-column-start: span 2;
 }


 .img-redonda {
     border-radius: 50%;
     width: 100px;
 }



 #anfitrion-caja {
     height: 200px;
 }

 #anfitrion-img {
     width: 100px;
     height: 100px;
 }


 .grid {
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 16px;
     padding-bottom: 40px;
     padding-top: 40px;

 }

 .caja {
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     
     background-color: #FFFFFF;
     border-radius: 8px;
     width: 300px;
     height: 230px;
     padding: 24px;
     font-family: poppins;
     
 }

 p{
    text-align: left;
 }

 .bed{
    margin-right: 10px;
 }

 h1{
    
    font-family: poppins;
    font-weight: 600;
    
 }
 
h2 {
    color:#6B79FF
}

.img{
    filter: invert(68%) sepia(56%) saturate(2341%) hue-rotate(130deg) brightness(98%) contrast(97%);
   /* filter: invert(80%) sepia(45%) saturate(683%) hue-rotate(343deg) brightness(100%) contrast(102%);
    filter: invert(48%) sepia(76%) saturate(3301%) hue-rotate(217deg) brightness(103%) contrast(102%);*/
}


 .btn {
     background-color: #6B79FF;
     font-family: poppins;
     color: white
 }

 .btn_add {
     background-color: #6B79FF;
     font-family: poppins;
     color: white;
     height: 45px;


 }




.card {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: rgb(255, 249, 239);
    border-radius: 15px;
    border:none;
    box-shadow: 0px 5px 10px silver;
    width: 200px;
    height: 250px; 
    text-align: center;
   
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50px;

}

.imagen{
    display:flex;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}
.tarjeta{
    width: 200px;

}


/*OPINION*/

.opinion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    margin-left: 70px;
    margin-bottom: 15%;
    
}
.comentario{
    margin-bottom: 35px;
    
}



