<!--COLLAGE DE IMAGENES-->
<div class="gallery-container" *ngIf="casa">
  <div class="gallery__item" *ngFor="let img of casa.images">
    <img class="gallery__img" [src]="img" [alt]="casa.title">
  </div>
</div>


  <!--Datos de la casa-->
  <div class="grid">
    <div *ngIf="casa" class="bed">
      <h2>{{casa.title}}</h2>
      <p>Habitaciones: {{casa.bedrooms }}</p>
      <div class="space">
        <img src="../../../assets/icon/bed.png" width="40px" alt="">
        <img src="../../../assets/icon/sofa.png" width="40px" alt="">
      </div>
      <p>Baños: {{casa.bathrooms }}</p>
    </div>
  </div>

  <div *ngIf="casa">
    <h2>Descripción </h2>
    <p>{{casa.description}}</p>
    <p>Comodidad: {{casa.comodidad}}</p>
    <p> {{casa.squarefeet}}</p>
  </div>

  <div *ngIf="casa">
    <p>País: {{casa.country}}</p><br>
    <p>Ciudad: {{casa.city}}</p><br>
    <p>Código postal: {{casa.cp}}</p><br>
    <img src="../../../assets/icon/mapa.png" alt="mapa">
  </div>



<!--------Boton de reserva----->

  <div class="text-center">
    <a [routerLink]="['/reservas', casa.id, 'new']">
      <button>Reservar casa</button>
    </a>
  </div>

        





  <!-- Comentario detail-->
  <div>
    <h2>Opiniones</h2>
    <div *ngIf="comments.length===0">No hay comentarios>
      <div *ngIf="comments.length>0">
        <div *ngFor="let comment of comments">
          <p>{{comment.description}}</p>
          <p *ngIf="comment.photo">
            <img class="img-redonda" src="{{comment.photo}}">
          </p>
        </div>
      </div>
    </div>
  </div> 


  <!--------User detail----->
  <h2 class="centrar">Propietario</h2>
  <mat-grid-list *ngIf="casa">
    <mat-list *ngIf="user">
      <mat-list-item id="anfitrion-caja">
        <img id="anfitrion-img" matListItemAvatar src="{{user.photo}}" alt="{{user.fullName}}">
        <a [routerLink]="['/users', user.id]">
          {{user.fullName}}
        </a>
      </mat-list-item>
    </mat-list>
  </mat-grid-list>












