*{
  font-family: poppins;
}

h2{
  font-family: poppins;
  color: #7885FC;
}

form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }

  .btn {
    margin-top: 20px;
    border-radius: 10px;
    background: #7885FC;
    border: none;
    width: 500px;
    height: 56px;
    color: white;
    margin-bottom: 50px;
}