<mat-grid-list cols="3" rowHeight="200px" *ngIf="casa">
  <mat-grid-tile rowspan="2">
    <div>
      <h2>Casa</h2>
      <img src="{{ casa.photo }}" style="max-width: 150px;" />

      <mat-list *ngIf="userId">
        <mat-list-item>
          <img matListItemAvatar src="{{userId.photo}}" alt="{{userId.fullName}}">
          <div matListItemTitle>
            <a [routerLink]="['/users', userId.id]">
              {{userId.fullName}}
            </a>
          </div>
        </mat-list-item>
      </mat-list>

    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
    <div>
      <h2>Habitaciones {{ casa.title }}</h2>      
      <p>Número de Habitaciones: {{ casa.bathrooms }}</p>

      <h2>Descripción</h2>
      <p>{{casa.description }}</p>
    </div>
  </mat-grid-tile>

  <mat-grid-tile rowspan="2">
    <div>
      <h2>Precio Alquiler: {{ casa.price }} €</h2>
      

      <!--<button mat-fab extended color="primary">
        <mat-icon>shopping_cart</mat-icon>
        Comprar
      </button> -->
      <button mat-raised-button color="primary" style="width: 100%;">
        <mat-icon>shopping_cart</mat-icon>
      Reservar
      </button>
    </div>
  </mat-grid-tile>

  <mat-grid-tile colspan="3" rowspan="1">
    <div>
      <p>
        Todas nuestras casas son confortables
      </p>
    </div>
  </mat-grid-tile>
</mat-grid-list>
