img{
  max-width: 400px !important ;
  -webkit-box-shadow: -1px 3px 11px -1px rgba(0,0,0,0.77);
   -moz-box-shadow: -1px 3px 11px -1px rgba(0,0,0,0.77);
   box-shadow: -1px 3px 11px -1px rgba(0,0,0,0.77);
}
