
<h2>Listado de casas</h2>

<button mat-raised-button color="primary" routerLink="/casas/new">
  <mat-icon>add</mat-icon>
  Agregar casa
</button>

<!--  user -->

<div *ngIf="user">
  <img class="list-header-img" [src]="user.photo" [alt]="user.fullName">
  <h2>Autor {{user.fullName}}</h2>
</div>


<!--  category -->

<div *ngIf="category" class="list-header">
  <img class="list-header-img" [src]="category.icono" [alt]="category.name">
  <h2>Categoría {{category.name}}</h2>
</div>

<!--  conteo de las casas -->
<div class="table-count" *ngIf="casas.length > 0">
  Hay {{casas.length}} Casas en total.
</div>


<table mat-table [dataSource]="casas" class="mat-elevation-z8">

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Título</th>
    <td mat-cell *matCellDef="let casa">{{casa.title | lowercase}}</td>
  </ng-container>

  
  <ng-container matColumnDef="description"> 
    <th mat-header-cell *matHeaderCellDef>Descripcion</th>
    <td mat-cell *matCellDef="let casa">{{ casa.description | limitLongText:15}}</td>
  </ng-container>
  
  <ng-container matColumnDef="country"> 
    <th mat-header-cell *matHeaderCellDef>País</th>
    <td mat-cell *matCellDef="let casa">{{ casa.country | limitLongText:15}}</td>
  </ng-container>

  <ng-container matColumnDef="bedrooms">
    <th mat-header-cell *matHeaderCellDef>Bedrooms</th>
    <td mat-cell *matCellDef="let casa">{{ casa.bedrooms}}</td>
  </ng-container>

  <ng-container matColumnDef="bathrooms">
    <th mat-header-cell *matHeaderCellDef>Bathrooms</th>
    <td mat-cell *matCellDef="let casa">{{ casa.bathrooms}}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Precio</th>
    <td mat-cell *matCellDef="let casa" style="width: 90px;">{{ casa.price}}</td>
  </ng-container>


  <!--Acciones botones-->

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Acciones</th>
    <td mat-cell *matCellDef="let casa" style="width: 300px;">

      <button mat-button color="primary" class="btn-primary" [routerLink]="['/', casa.id]">
        <mat-icon>visibility</mat-icon>
        Ver
      </button>

      <button mat-button color="primary" class="btn-primary" [routerLink]="['/casas', casa.id, 'edit']">
        <mat-icon>edit</mat-icon>
        Editar
      </button>

      <button mat-button color="primary" class="btn-primary" (click)="deleteCasa(casa)">
        <mat-icon>delete</mat-icon>
        Borrar
      </button>
    </td>

  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

</table>
<div *ngIf="casas.length === 0" style="text-align: center; min-height: 100px;">
  No se han encontrado Casas.
</div>
