<div class="contenedor">
    <form class="form" [formGroup]="userForm" (ngSubmit) = "save()">
    
        <h2>Crear cuenta</h2>
        <mat-form-field>
            <mat-label>Nonbre de usuario:</mat-label>
            <input matInput type="text" formControlName="username">
        </mat-form-field> 
        
    
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    
        <button class="btn" type="submit"
            [disabled]="userForm.invalid">
            Enviar
        </button> 
    
    </form>
    </div>